
body{margin:0;font-family:Arial;background:#111;color:#fff}
nav{display:flex;justify-content:space-between;padding:15px;background:#000}
nav a{color:#fff;margin:0 10px;text-decoration:none}
.container{padding:20px}
table{width:100%;border-collapse:collapse;margin-top:20px}
th,td{border:1px solid #444;padding:10px;text-align:left}
input,select,button{padding:10px;margin:5px 0;width:100%}
button{background:#000;border:2px solid gold;color:#fff;cursor:pointer}
or:#fff;cursor:pointer}
